*{margin:0;padding:0; font-family:"微软雅黑"; color: grey;}
a{text-decoration:none;}
ul{list-style:none;}

body{
	width: 100%;
	height: 100%;
}

.header{
	position: relative;
	width: 100%;
	height: 100%;
}

.header1{
	width: 1040px;
	height: 110px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 10px;
}

.zhimeilogo{
	position: absolute;
	top: 21px;
	left: 0px;
	display: block;
}

.headerphone{
	height: 47px;
	width: 179px;
	top: 0px;
	right: 0px;
	position:absolute;
}

.headertable{
	left: 453px;
	top: 70px;
	background-size: contain;
	height: 50px;
	width: 700px;
	position: absolute;
}

.headertable img{
	vertical-align: middle;
}

.headertable span{
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 15px;
	font-weight: bold;
	line-height: 60px;
}

.headertable span:hover{
	color: black;
}

.successcasemenu:hover + div{
	display: block;
}

.successcasemenu + div{
	box-sizing: border-box;
	position: absolute;
	top: 51px;
    left: 87px;
	height: 170px;
	width: 80px;
	background-color: #2d2d2d;
	border-bottom: 5px solid black;
	z-index: 1000;
	display: none;
}

.successcasemenu + div:hover{
	display: block;
}

.successcasemenu + div a{
	box-sizing: border-box;
	display: block;
	color: #fff;
	width: 80px;
	height: 33px;
	font-size: 12px;
	text-align: center;
	line-height: 33px;
}

.successcasemenu + div a:hover{
	background: #FF0000;
	color: #fff;
}

.s1{
	width: 1581px;
	height: 497px;
	cursor: default;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	outline: none;
	margin: 0px auto;
	background-image: url(img/index_02.png);
	position:relative;
}

.s2{
	width: 100%;
	height: 260px;
}
.s21{
	height: 300px;
	width: 1040px;
	margin: 0 auto;
	padding: 60px 0 60px 0;
	position: relative;
}

.s210{
    width: 182px;
    height: 130px;
    float: right;
    margin-left: 30px;
}



.s211{
    width: 182px;
    height: 130px;
    float: right;
    margin-left: 30px;
}



.s212{
    width: 182px;
    height: 130px;
    float: right;
    margin-left: 30px;
}

.s213{
    width: 182px;
    height: 130px;
    float: right;
    margin-left: 30px;
}

.s214{
    width: 182px;
    height: 130px;
    float: right;
}



.s214{
	background-image: url(img/1.png);
}

.s214:hover{
	background-image: url(img/a.png);
}

.s213{
	background-image: url(img/2.png);
}

.s213:hover{
	background-image: url(img/b.png);
}
.s212{
	background-image: url(img/3.png);
}

.s212:hover{
	background-image: url(img/c.png);
}

.s211{
	background-image: url(img/4.png);
}

.s211:hover{
	background-image: url(img/d.png);
}

.s210{
	background-image: url(img/5.png);
}

.s210:hover{
	background-image: url(img/e.png);
}

.s3{
	width: 1581px;
	height: 609px;
	background:url(img/casexhibition.png) center top no-repeat;
	background-color: #dbdbdb;
	margin:0 auto;
	font-size: 13px;
}

.s31{
	width:1043px;
	height:609px;
	margin:0 auto;
	position: relative;
}
.s311{
	width:1043px;
	height:23px;
	padding-top: 130px;
	text-align: center;
}
.s312{
	width:1043px;
	height:23px;
	text-align: center;
}

.s313{
	width: 1043px;
	height:325px;
	position: absolute;
	bottom: 79px;
}

.s313 div{
	height: 325px;
	width: 195px;
	float: left;
	z-index: 10;
	margin-right: 17px;
	transition: ease 0.9s;
}

.s313 .branddesign{
	background-image: url(./img/ABUIABAEGAAgtYj8rgUo_fDsggcwwwE4xQI.png); 
}

.s313 .branddesign:hover{
	background-image: url(./img/ABUIABAEGAAg6JH8rgUojubf9AIwwwE4xQI.png); 
}

.s313 .graphicdesign{
	background-image: url(./img/ABUIABAEGAAg9o38rgUoh4jCswIwwwE4xQI.png);
}

.s313 .graphicdesign:hover{
	background-image: url(./img/ABUIABAEGAAggZL8rgUo3OOkyAEwwwE4xQI.png); 
}

.s313 .webdesign{
	background-image: url(./img/ABUIABAEGAAgkI78rgUo6ra5xwMwwwE4xQI.png); 
}

.s313 .webdesign:hover{
	background-image: url(./img/ABUIABAEGAAgo5L8rgUo3MrJ7gYwwwE4xQI.png); 
}


.s313 .electronicmall{
	background-image: url(./img/ABUIABAEGAAgmI78rgUoxrvwoAYwwwE4xQI.png); 
}

.s313 .electronicmall:hover{
	background-image: url(./img/ABUIABAEGAAguJL8rgUolrzjxgMwwwE4xQI.png); 
}

.s313 .spacearchitecture{
	background-image: url(./img/ABUIABAEGAAgqI78rgUox6bbogMwwwE4xQI.png); 
	margin: 0;
}

.s313 .spacearchitecture:hover{
	background-image: url(./img/ABUIABAEGAAg5pL8rgUopJ_XIzDDATjFAg.png); 
}

.s4{
	width: 100%;
	height: 531px;
}

.s41{
	height: 531px;
	width: 1583px;
	margin: 0 auto;
	background-image: url(./img/ABUIABAEGAAg05iTuAUoyIPj3gMwgA84kwQ.png);
	background-position: center;
}


.s411, .s412, .s413, .s414, .s415, .s416, .s417, .s418{
	width:1043px;
	text-align: center;
	margin: 0 auto;
}

.s411{
	padding-top: 135px;
	font-size: 16px;
	margin-bottom: 3px;
}

.s412, .s413{
	font-size: 13px;
}

.s414, .s416{
	font-size: 18px;
	color: black;
}

.s414{
	margin-top: 57px;
}

.s5{
	width: 1581px;
	height: 306px;
	background:url(./img/serviceprocess_03.png) center top no-repeat;
	margin:0 auto;
	font-size: 13px;
}

.s51{
	padding-top: 162px;
	width: 830px;
	height: 40px;
	margin: 1px auto;
	font-size: 14px;
	font-weight: bold;
    color: #666666;
    font-family: SimSun;
    position: relative;
}

.s51 span{
	vertical-align: middle;
	line-height: 29px;
	height: 29px;
	width: auto;
	display: inline-block;
	padding-right: 10px;
}

.s51 span img{
	width:100%;
	height:100%;
}

footer{
	width: 1581px;
	height: 200px;
	background: #2d3237;
	margin: 0 auto;
}

footer span{
	font-family: SimSun;
    font-size: 13px;
    color: #999999;
	margin-top: 161px;
	margin-left: 485px;
	display: inline-block;
}

footer div{
	height: 160px;
	width: 160px;
	background-image: url(./img/ABUIABACGAAg4-qOtwUoqPaIhwcwrgM4rgM!160x160.jpg);
	display: inline-block;
	margin-left: 81px;
}
