* {
	margin: 0;
	padding: 0;
}

.uni{
	height: 100%;
	width: 960px;
	margin: 0 auto;
}

.header {
	background: #ffbb93;
	height: 25px;
	width: 960px;
}

.display {
	background: #ffbb93;
	width: 960px;
	height: 110px;
	margin-top: 10px;
}
.content {
	width: 89.5%;
	height: 180px;
	margin-left: 50px;
	margin-right: 50px;
}
.showbox {
	float: left;
	width: 150px;
	height: 80px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	background: #ffbb93;
}

.footer {
	background: #ffbb93;
	width: 960px;
	height: 80px;
	margin-top: 10px;
}

.clear{
	clear:both;
}